*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html , body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 40vw;
    height: 30vh;
    
    
}

.title{
    text-align: center;
}

.student{
     width: 100%;
    padding: 1vw;
    display: flex; 
    align-items: center;
    gap: 1vw;
}
table{
    width: 40vw;
    border: 2px solid black;
    
}



tr{
    padding: .4vw;
    display: flex;
    border-bottom: 2px solid black;
    
    align-items: center;
    justify-content: space-between;
   
}

td input{
     width: 5vw;
    padding: .2vw .4vw;
}



.total{
    padding-left: 1vw;
    /* font-size: 1.2rem; */
    font-weight: 400;
    margin-top: 1vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 .7vw;
}

#totalMarks{
    border: 1px solid black;
   
    width: 5vw;
   
    text-align: center;
}


button{
    padding: .4vw .6vw;
    border: none;
    border-radius: 5px;
    margin-left: 16vw;
    margin-top: 4vw;}
